html {
    scroll-behavior: smooth;
  }
/* body{
  margin: 0%;
} */
.mobile{
  display: none;
}
#home {
    background-image: url("/marilyn2.png");
    background-repeat: no-repeat, repeat;
    background-color: #e8e5dc;
    background-position: top right;
    background-size: 70% auto;
    

  }
#introLink{
  font-family: 'Carattere', cursive;
  font-size: 2.3vw;
  color: #b6180e;
}
#contactInfo a{
text-decoration: none;
color: black;
}
/* a{
 
} */
  #homeMain {
      margin-bottom: 200px;
  }

  
  header img{
      width: 45%;
      margin-left: 5%;
  }

nav {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em;
      
        text-align: center;
 
      width: 55%;
      background: linear-gradient(to left, rgba(255,0,0,0), rgba(56,56,54,1), rgba(56,56,54,1));
        padding: .2em;
  }

nav li {
    display: inline;
    padding: 0em 1.5em;
    margin: 0.5em;
    font-size: 1.4em;
}

nav li a {
	color: #FFFFFF;
	text-decoration: none;
}

nav ul {
    padding: 0;
    margin-top: 0em;
    margin-bottom: 0em;
}


p {
    font-size:1.5vw;
    font-family: 'Urbanist', sans-serif;
    margin: 10px;
    line-height:1.5em ;
}

#introText p{
  margin-bottom: 20px;
}

h1 {
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
}
#introText h1{
  color: #b6180e;
  margin-bottom: 20px;
  margin-left: -1%;
}

h2 {
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
    /* margin-top: 15px; */
    
}
#intro{
    display: grid;
    grid-template-columns: 7fr 10fr;
    grid-template-rows: 2fr 10fr;
    width: 55%;
    margin-left: 3%;
    margin-top: 20px;
    /* margin-bottom: 300px; */
    z-index: 2;
    position: relative;
   
}
#introSpacer{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /*height: 30%;*/
}
#introText {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 5px;
    padding: 20px;
    
}

#introText div {
    text-align: center;
    margin-top: 30px;
    
}

#quote, #order {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #c4bfb3;
    padding: 2px 10px;
    font-size: 1.5vw;
    margin-top: 10px;
    box-shadow: 0px 0px 2px #ffffff;

}

#introBox {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        box-shadow: 5px 5px 15px #222221;
        background-color: #f5f3eb;;
}

    
.desktop{
  display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: flex-end;
    align-content: flex-end;
    z-index: 10;
}
    


.desktop img {
  display: grid;
    /* grid-column: 1 / 2;
    grid-row: 1 / 3;
    float: left;
    width: 100%; */
    z-index: 10;
    align-self: flex-end;
    width: 100%;
}



footer {
    display: flex;
    /* background-color: #313230; */
    opacity: .9;
    padding: 1em;
    justify-content: center;
    background: linear-gradient(to left, rgba(255,0,0,0),  rgba(56,56,54,1), rgba(255,0,0,0));
    flex-wrap: wrap;
}

footer img{
    width: 125px;
    margin-left: 25px;
    margin-right: 25px;
}

#copyright {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    clear: both;
    color: white;
}
#copyright a {
    color: white;
    text-decoration: none;
}
/* Calculator */

#order{
    margin-top: 20px;
}

#closeDiv{
    float: right;

}

#close{
    margin: 7px;
    font-size: 1.75em;
}

#calculator{
    display: none;
    box-shadow: 5px 5px 15px #222221;
    background-color: #f5f3eb;
    margin-left: 30%;
    width: 35%;
    /* margin-bottom: 100px; */
    margin-top: -75px;
    z-index: 4;
    position: relative;
}

.calculator{
    padding: 5% 10% 10% 10%;
}

#calculator div {
    text-align: center;
}


.label {
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 5px;
    
}

#calc-price{
font-size: 2.5vw;
width: 100%;
text-align: center;
margin-top: 5%;
color: #8d0c25;
font-weight: bold;
}

:root {
    --primary-color: #435fda;
    --secondary-color: #8d0c25;
    --body-font-size: 16px;
    --line-height: 1.5;
    --content-width: 480px;
    --background-color: #fff;
    --background-color-secondary: #f8f8f9;
    --text-color: #060914;
    --text-color--muted: #71737f;
    --line-color: #7e7e7a;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-color: #657bdb;
      --primary-color--translucent: rgba(85, 106, 195, 0.3);
      --secondary-color: #4b131d;
      --background-color: #060913;
      --background-color-secondary: #0f1424;
      --text-color: #e4e4e7;
      --text-color--muted: #838690;
      --line-color: #303341;
    }
  }
  
 
  
 
  
 
  
  /* The crazy stuff that needs to be here for the custom input styling */
  input[type="range"] {
    -webkit-appearance: none;
    /* margin: 18px 0; */
    width: 100%;
    transition: all 0.265ms ease-out;
  }
  
  input[type="range"]:not(:last-of-type) {
    margin-top: 0;
    margin-bottom: 2.5em;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: var(--line-color);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 0 8px 1px var(--secondary-color),
      0 0 16px 4px var(--background-color);
    border: 3px solid #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--secondary-color);
  }
  
  input[type="radio"] {
    -webkit-appearance: none;
    display: none;
  }
  
  .segmented-control input[type="radio"] + label {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    color: var(--text-color--muted);
  }
  
  .segmented-control input[type="radio"]:checked + label {
    background-color: var(--line-color);
    width: 100%;
    height: 100%;
    display: block;
    color: var(--text-color);
  }
  
  .segmented-control input[type="radio"]:focus + label {
    border: 1px solid var(--secondary-color);
  }
  
  .segmented-control:first-child input[type="radio"]:checked + label {
    border-radius: 0.5em 0 0 0.5em;
  }
  
  .segmented-control:last-child input[type="radio"]:checked + label {
    border-radius: 0 0.5em 0.5em 0;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: var(--line-color);
  }
  
  input[type=range]::-moz-range-thumb {
      box-shadow: 0 0 8px 1px var(--secondary-color),
      0 0 16px 4px var(--background-color);
    border: 3px solid #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }

  .slider{
    margin: 5px;
}
  
/* GALLERY */

#gallery{
display: grid;
grid-template-columns: 2fr 3fr 3fr;
 /* background: rgb(247,242,236); */
 margin-top: 2%;
 /* margin-bottom: 300px; */
 padding: 10px;
 /* margin-left: 10%; */
/* background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(247,242,236,1) 11%, rgba(247,242,236,1) 90%, rgba(255,255,255,0) 100%);background-color:rgba(256, 256, 256, .8); */ 
/* background-color:rgba(56,56,54,.8); */
/* margin-top: 10%; */
/* width: 50%; */
/* margin-left: 25%; */
/* padding: 10px; */
/* overflow: hidden; */
grid-template-rows: 500px;
margin-bottom: 15%;
/* max-height: 40%; */
}

#galleryHeader {
    width: 100%;
}
#galleryHeader img{
  width: 35%;
}
#galleryHeader nav {
  width: 45%;
}
#galleryBody{
    background-image: url("/marilyn3.png");
    background-repeat: no-repeat, repeat;
    background-color: #e8e5dc;
    background-position: top right;
    background-size: 50% auto;
}

.carousel-container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;

  /* border: 5px solid black; */
   /* overflow: hidden;  */
}

.carousel-slide{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-column: 2 / 3; 
  grid-row: 1 / 2; 
  /* max-height: 50%; */
  width: 100%;
  height: 746px;
  transform: translate(0px);
  margin-bottom: 15%;
  margin-top: 5%;
  

}
.carousel-slide img{
    /* width: 150%; */
  border: white solid 15px;
  width: 60%;
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
 
}

.next{
    /* max-height: 50%; */
    /* margin-bottom: 30%; */
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-items: end;
    align-items: center;
    z-index: 25;
    transform: translate(80%);
}
.prev{
    display: grid;
    grid-column: 1 / 2;
    z-index: 25;
    grid-row: 1 / 2;
    justify-items: start;
    align-items: center;
    transform: translate(-80%);
}

#nextBtn, #prevBtn{
  /* top: 45%; */
  /* z-index: 10; */
  font-size: 100px;
  color: black;
  cursor: pointer;
  opacity: .75;
  /* background-color: black; */
}


#image1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    z-index: 5;
    transform: scale(1.1);
}
#image2{
  display: grid;
   grid-column: 1 / 4;
   grid-row: 1 / 2;
    transform: translate(225px);
    opacity: .75;
 
}
#image3{
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
    opacity: .5;
    transform: scale(.2);
}
#image4{
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
    opacity: .5;
    transform: scale(.2);
}
#image5{
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
    transform: translate(-225px);
    opacity: .75;
}

#info1, #info2, #info3, #info4, #info5 {
    display: none;
    position: absolute;
    left: 20%;
  width: 60%;
  top: 90%;

    /* display: grid; */
    background-color: white;
    /* grid-column: 1 / 2; */
    /* align-items: end; */
    /* transform: translate(0, 30px); */
    z-index: 40;
    box-shadow: 1px -1px 10px dimgray ;
    text-align: center;
    /* margin: -100px 5% 5% 5%; */
    
}

#gallery h2{
    font-size: 1.5em;
    margin: 5px;
}
#gallery p{
    font-size: 1.2em;
    line-height: 1em;
}

#infoBtn1, #infoBtn2, #infoBtn3,#infoBtn4,#infoBtn5{
    z-index: 50;
    grid-row: 1/2;
    position: absolute;
    align-self: flex-end;
    justify-self: left;
    /* right: 480px;
    top: 600px; */
    font-size: 25px;
    opacity: .6;
    cursor: pointer;
    grid-column: 1/2;
    bottom: 4%;
    left: 18%
    /* margin-bottom: 3%;
    margin-left: 21%; */
}


/* ////////////Contact///////////////////////////////////////// */

#contact{
  display: grid;
  grid-template-columns: 1fr 4fr 5fr;
  grid-template-rows: 75px 2fr 1fr;
}

#contactContent{
  display: grid;
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-column: 2/3;
  grid-row: 2/3;
  background-color:  #f5f3eb;
  box-shadow: 5px 5px 15px #222221;
  padding: 0% 5% 5% 5%;
}

#contactContent h1{
  /* width: 100%; */
  text-align: center;
  /* margin-bottom: -20px; */
  border-bottom: 3px solid #b6180e;
  /* line-height: 5px; */
  padding: 5px;
  align-self: flex-end;
  margin-top: 0px;
  margin-bottom: 30px;
}

.contactField, textarea, #submit{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  padding: 5px 5px;
  background-color: #d8d3c9;
  margin: 10px;
  font-weight: bold;
}

#name, #subject{
  max-height: 50px;
}

 textarea:hover, #submit:hover {
  background-color: #b5afa4;
 }

 #submit:hover {
   cursor: pointer;
 }

 #submit{
   width: 30%;
   margin-left: 35%;
   /* margin-bottom: 3%; */
   margin-top: 3%;
 }

 #contactInfo{
   display: grid;
   grid-row: 3/4;
   grid-column: 2 / 3;
   grid-template-columns: 1fr 1fr;
   /* border-top: #b5afa4 solid; */
   padding:  3% 2% 3% 3%;
   margin: 5%;
   background-color: #d8d3c9;
   box-shadow: 5px 5px 15px #222221;

 }

 #contactInfo p, #contactInfo i{
   display: inline;
 }

 #contactInfo p{
   font-size: 1vw;
 }

 #email, #insta {
   grid-column: 1/2;
 } 

#fb, #youtube {
  grid-column: 2/3;
}
i{
  font-size: 1.5vw;
}


@media only screen and (max-width: 1800px)  {
  #galleryBody {
    
    background-size: auto 100%;
    

  }
 

  .carousel-slide img {
    width: 65%;
  }
  header img {
    width: 35%;
  }
  header nav {
    width: 45%;
  }
  h1{
    font-size: 3vw;
  }
  #introText{
    padding: 10px;
  }
  #quote{
    margin-top: 5px;
  }
  footer img {
    width: 75px;
  }
  /* #infoBtn1, #infoBtn2, #infoBtn3, #infoBtn4, #infoBtn5 {
    margin-left: 18%;
} */
.contactField, textarea, #submit {
  font-size: 1.5em;
}
#contact {
  grid-template-rows: 50px 3fr 1fr;
}
#name, #subject {
  max-height: 35px;
}
/* i {
  font-size: 25px;
} */
}

@media only screen and (max-width: 1320px)  {
  #gallery{
    grid-template-rows: 400px;
  }
  .contactField, textarea, #submit{
    font-size: 1.3em;
  }
  #contactInfo p {
    font-size: 1.3vw;
}
  #contact {
    grid-template-columns: 1fr 5fr 4fr;
}
  
  header img {
    width: 45%;
  }
  header nav {
    width: 55%;
  }
  nav li {
    font-size: 1.2em;
  }
    nav li {
      margin: 0px;
    }
    #introText div {
      margin-top: 20px;
    }
    #close {
   
      font-size: 1.2em;
  }
  #introText p {
    margin-bottom: 10px;
}
#quote {
  margin-top: 0px;
}
#introText h1 {
  margin-bottom: 10px;
}

/* .carousel-slide{
  grid-template-rows: 300px 200px ;
} */
}

@media only screen and (max-width: 1000px)  {
  #contactInfo p {
    font-size: 1.5vw;
    margin: 5px;
}
  #contact {
    grid-template-columns: 1fr 5fr 3fr;
}
  #calculator{
    width: 45%;
    margin-top: -50px;
  }
  h2{
    font-size: 3vw;
  }
  .prev{
    justify-content: flex-end;
  }
  .next{
    justify-content: flex-start;
  }
  #gallery{
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 650px ;
  }
  #nextBtn, #prevBtn {
    font-size: 70px;
}
  #home {
    
    background-size: auto 100%;
    

  }
  #introText {
    padding: 0px;
}
  #intro{
   width: 70%;
   grid-template-columns: 9fr 10fr;
  }
  header img {
    width: 55%;
  }
  header nav {
    width: 65%;
  }
  nav li{
    padding: 0em 1em;
    font-size: 1em ;
  }
  #introText {
    padding: 5px;
}
 #introText h1{
   font-size: 3vw;
 }

 p{
   font-size: 2.1vw;
 }

 #introLink{
   font-size: 3vw;
 }
 
  #close {
   
    font-size: .8em;
}
footer img {
  width: 50px;
  margin: 10px;
}
#copyright{
  margin-top: 5px;
}
#order{
  font-size:1em;
}
#calc-price {
  font-size: 4vw;
}
.next{
  transform: translate(50%);
}
.prev{
  transform: translate(-50%);
}
}

@media only screen and (max-width: 800px)  {
  
  #contactContent h1{
    font-size: 2em;
  }
    #contact{
  grid-template-columns: 1fr 5fr 2fr;
  }
  #contactInfo p {
    font-size: 1.7vw;
    margin: 2px;
  }
  #contactInfo{
     
      grid-template-columns: 2fr 9fr 1fr;
      /* border-top: #b5afa4 solid; */
      grid-template-rows: 1fr 1fr 1fr;
   
    }
    #email{
      grid-column: 2/3;
      justify-self: flex-start;
     
    }
    #fb{
      grid-column: 2/3;
      justify-self: flex-start;
    }
    #insta{
      grid-column: 2/3;
      justify-self: flex-start;
    }
    #youtube{
      grid-column: 2/3;
      justify-self: flex-start;
    }
    #contactInfo p {
      font-size: 2.5vw;
      margin: 2px;
  }
  #contactInfo i{
    font-size: 4vw;
    margin-right: 1px;
  }
  #contact {
    grid-template-rows: 50px 2fr max-content;
}
}


@media only screen and (max-width: 600px)  {
  .carousel-slide img {
    border: white solid 7px;
  }
  #introLink{
    font-size: 4.7vw;
  }
  #gallery h2 {
    font-size: 1.3em;
    margin: 2px;
}
#gallery p {
  font-size: 1.1em;
  margin: 3px;
}
  #contact {
    grid-template-columns: 1fr 10fr 1fr;
}
  header{
    background-image: url("/marilyn2.png");
    background-repeat: no-repeat, repeat;
    background-color: #e8e5dc;
    background-position: top right;
    background-size: 30%;
  }
  header img {
    width: 80%;
    margin-right: 19%;
    margin-left: 1%;
  }
  #home {
    background-image: none;
  }
  header nav{
    width: 100%;
    z-index: 50;
  }
 
  nav li{
    /* display: block; */
    padding: 0em .5em;
    font-size: 7vw;
  }
  #intro{
    width: 90%;
    margin-left: 5%;
  }
  #introText h1 {
    margin-top: 5px;
    display: grid;
    grid-column: 2/3;
    margin: 0px 0px 0px 10px;
    font-size: 8vw;
    align-self: center;
  }

  .mobile{
    display:grid;
    position: absolute;
    grid-column: 1/2;
    grid-row: 1/3;
    z-index: 30;
    bottom: 45%;
    margin-left: -7%;
    
  }
  .mobile img{
    width: 90%;
  }
  .desktop{
    display: none;
   
  }
  #intro{
    /* grid-template-rows: 2fr 5fr 5fr ; */
  }
  p{
    /* font-size: 5vw; */
  }
  #introText{
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 1fr;
  }
  #introText p{
    /* display: grid; */
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 3.5vw;
    margin-top: 15px;
  }
  #introText div{
    display: grid;
    grid-column: 1/3;
    align-self: flex-end;
    justify-self: center;
    margin-top: 0px;
    margin-bottom: 7px;
  }
  #quote{
    font-size: 4vw;

  }
  #calculator {
    margin-left: 10%;
    margin-top: -30px;
    width: 80%;
}
h2{
  font-size: 6.5vw;
}
.label{
  font-size:4vw ;
}
#calc-price{
  font-size: 7vw;
}

#homeMain {
  margin-bottom: 100px;
}
#gallery{
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 500px ;
}
footer{
  padding: 0px;
}
#contactInfo p {
  font-size: 1em;
  margin: 2px;
}
#contactInfo{
     
  grid-template-columns: 1fr 20fr 1fr;

}
/* .mobile img{
  width: 85%;
} */
}
